body {
  background-color: #fff;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  }

nav a {
  display: block;
  color: #000;
  text-decoration: none;
  }

  nav figure {
  margin: 0;
  }

.twitterblue {
  color: #00aced;
}
.instapink{
  color: #bc2a8d;
}
.facebookblue{
  color: #3b5998;
}
#twitter p {
  font-family: arial, sans-serif;
  text-align: center;
  color: rgba(192, 222, 237, .8);
  font-size: 25px;
  padding-bottom: 20px;
}
#insta p {
  font-family: arial, sans-serif;
  text-align: center;
  color: rgba(188, 42, 141, .8);
  font-size: 25px;
}
#facebook p {
  font-family: arial, sans-serif;
  text-align: center;
  color: rgba(175, 189, 212, .8);
  font-size: 25px;
  margin-top: 0;
  padding-bottom: 20px;
}
header{
  padding-bottom: 235px;
}
header h1{
  background-color: #fff;
  margin: 0 auto;
  padding-left: 10px;
  font-family: arial black, sans-serif;
  padding-top: 210px;

}
header h3{
  background-color: #fff;
  font-family: arial, sans-serif;
  padding-left: 10px;
}
#twitter{
  background-color: #1DA1F2;

}

#facebook {
  background-color: #3b5998;

}
h2{
  font-family: arial, sans-serif;
  color: #777;
  text-align: center;
}
#fuck {
  padding-top: 2px;
}

#banner {
  position: relative;
  padding: 1em 0 10em;
}

#tagline {
  position: relative;
  padding-top: 20em;
}


.pipe-twitter {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 12em;
  border-left: .25em dashed #00aced;
}

.pipe-facebook {
  position: absolute;
  top: 0;
  right: 98%;
  height: 30em;
  border-left: .25em dashed #3b5998;
}

.pipe-insta {
  position: absolute;
  top: 0;
  right: 71%;
  height: 11em;
  border-left: .25em dashed #bc2a8d;
}

.pipe-fb2 {
  position: absolute;
  top: -1.7em;
  right: 92%;
  height: 20em;
  border-left: .25em dashed #3b5998;
}


a:link    {
text-decoration:  none;
font-weight:      bold;
background-color: #fff;
color: #333;


}

a:visited {
text-decoration:  none;
font-weight:      bold;
background-color: #fff;
color:            #aaa;
}

.jump-link-top {
text-align: center;
font-family: arial;
margin: 1em 0 0 0;
font-size: 20px;
padding-top: 20px;
padding-bottom: 20px;
}

#fuck a {
  color: #00aced;
}

#ig a {
  color: #bc2a8d;
}

#fb a {
  color: #3b5998;
}

@media (min-width: 60em) {

header h1 {
  font-size: 100px;
  text-align: center;
}

header h3 {
  font-size: 50px;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
}

.pipe-twitter {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 13em;
  border-left: 1.5em dashed #00aced;
}

.pipe-facebook {
  position: absolute;
  top: 0;
  right: 92%;
  height: 30em;
  border-left: 1.5em dashed #3b5998;
}

.pipe-insta {
  position: absolute;
  top: 0;
  right: 71%;
  height: 11em;
  border-left: 1.5em dashed #bc2a8d;
}

.pipe-fb2 {
  position: absolute;
  top: -1.7em;
  right: 92%;
  height: 20em;
  border-left: 1.5em dashed #3b5998;
}

img {
  max-width: 22%;
  padding-right: 17em;
  padding-top: 2em;
}


figcaption {

  bottom: 140px;
}

#twitter figcaption p {
  font-size: 50px;
  position: relative;
  left: 7%;
  bottom: 140px;

}

#insta figcaption p {
  font-size: 50px;
  position: relative;
  left: 14.5%;
  bottom: 180px;
}

#facebook figcaption p {
  font-size: 50px;
  position: relative;
  left: 14%;
  bottom: 120px;
}
section h2 {
 font-size: 100px;
}


.dot {
  font-family: Arial;
}









}
